@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff') format('woff'),
  url('../fonts/roboto.woff2') format('woff2'),
  url('../fonts/robotomedium.woff') format('woff'),
  url('../fonts/robotomedium.woff2') format('woff2');
}

html,
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;

  color: #323232;
  background: #849d8f;
}

h1,
h2,
h3 {
  margin: 0;
}

/*Оформление сетки*/
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.main-header {
  /*Для выделения блоков*/
  /*background-color: red;*/
  /*outline: 1px solid black;*/
  font-weight: 700;
  color: #ffffff;
}

.container {
  /*Для выделения блоков*/
  /*background-color: lightcyan;*/
  /*outline: 1px solid black;*/

  position: relative;
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

/*Почему перестала работать ссылка?*/
.index-logo {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 154px;
  height: 64px;
  padding: 0;

  font-size: 0;

  background: url("../img/Logo.svg") no-repeat;
}

.main-navigation {
  /*Для выделения блоков*/
  /*background-color: blueviolet;*/
  /*outline: 1px solid black;*/

  float: left;
  width: 859px;
  padding-top: 8px;
}

.main-navigation ul {
  margin: 0;
  margin-left: 163px;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  padding: 15px 1px;

  font-size: 16px;
  line-height: 18px;
  vertical-align: top;
}

.main-navigation a {
  display: block;
  padding: 7px 13px;

  color: #ffffff;
  text-decoration: none;
}

.main-navigation span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-navigation a:hover {
  font-weight: 700;

  color: #373737;
  background-color: #f7f6f3;
  border-radius: 15px;
}

.main-navigation a:active {
  font-weight: 700;

  color: #373737;
  background-color: #f7f6f3;
  border-radius: 15px;
  box-shadow: inset 0 1px 2px #696969;
}
.main-navigation-active {
  font-weight: 700;

  background-color: #d07058;
  border-radius: 15px;
}

.main-navigation-active span {
  border: none;
}

.user-block {
  /*Для выделения блоков*/
  /*background-color: yellow;*/
  /*outline: 1px solid black;*/

  float: right;
  max-width: 267px;
  padding-top: 23px;
}

.user-block a {
  position: relative;
  display: inline-block;
  padding: 8px 17px;
  padding-left: 43px;
  margin-left: 7px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;

  color: #ffffff;
  background: rgba(161, 180, 169, 0.8);
  border-radius: 15px;
  text-decoration: none;
}

.login:hover {
  color: #373737;
  background: #f8f7f4;
}

.user-block a::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 15px;

  width: 21px;
  height: 19px;
}

.login::before {
  background: url("../img/login.svg") no-repeat;
}

.login:hover::before {
  background: url("../img/login-hover.svg");
}

.cart::before {
  background: url("../img/cart.svg") no-repeat;
}

.search {
  display: inline-block;
}

.search input[type="submit"]:hover {
  color: #373737;
  background: #f8f7f4 url("../img/search-hover.svg") no-repeat center;
}

.search input[type="search"]{
  display: none;
}

.search input[type="submit"] {
  display: inline-block;
  width: 32px;
  height: 32px;
  font-size: 0;
  background: rgba(161, 180, 169, 0.8) url("../img/search.svg") no-repeat center;
  border-radius: 50%;
  border: none;
}

.header-contacts {
  /*Для выделения блоков*/
  /*background-color: blue;*/
  /*outline: 1px solid black;*/

  float: right;
  width: 267px;
  margin-top: 17px;
}

.header-contacts span {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.header-contacts span:last-child {
  font-weight: 900;
  font-size: 22px;
  line-height: 24px;
}

.main-title {
  /*Для выделения блоков*/
  /*background-color: blue;*/
  /*outline: 1px solid black;*/

  width: 670px;
  margin-top: 270px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
}

.main-slider {
  /*Для выделения блоков*/
  /*background-color: yellow;*/
  /*outline: 1px solid black;*/

  margin-bottom: 7px;
}

.main-slider ul {
  float: left;
}

.main-slider .slogan {
  display: block;
  width: 280px;
  padding: 10px 0;
  margin-right: auto;
  margin-left: auto;
  font-size: 32px;
  line-height: 44px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background:
          -webkit-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
          -moz-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
          -o-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
          -ms-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
          linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  border-radius: 28px;
  text-decoration: none;
}

/*Как оформить градиент при наведении?*/
.main-slider .slogan:hover {
  background:
          -webkit-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
          -moz-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
          -o-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
          -ms-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
          linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 2px 0 #ac1000;
}

.promo {
  /*Для выделения блоков*/
  /*background-color: red;*/
  /*outline: 1px solid black;*/

  margin-bottom: 40px;
  font-weight: 700;
  color: #ffffff;
}

/*.promo div {*/
  /*width: 560px;*/
  /*height: 229px;*/
  /*padding: 20px;*/
  /*background: #373737 no-repeat;*/
/*}*/

.promo-left {
  /*Для выделения блоков*/
  /*background-color: yellow;*/
  /*outline: 1px solid black;*/

  float: left;
  box-sizing: border-box;
  width: 560px;
  height: 229px;
  padding-top: 16px;
  padding-left: 19px;
  background: url("../img/strawberry.png") no-repeat;
}

.promo-right {
  /*Для выделения блоков*/
  /*background-color: yellow;*/
  /*outline: 1px solid black;*/

  float: right;
  box-sizing: border-box;
  width: 560px;
  height: 229px;
  padding-top: 16px;
  padding-left: 19px;
  background: url("../img/chocolate.png") no-repeat;
}

.promo-title {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  font-family: "Roboto", "Arial", sans-serif;
}

.promo p {
  margin-top: 15px;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

.promo .slogan {
  display: block;
  box-sizing: border-box;
  margin-top: 43px;
  padding: 11px 22px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background:
          -webkit-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
-moz-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
-o-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
-ms-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  border-radius: 28px;
  text-decoration: none;
}

.promo-left .slogan {
  width: 165px;
  margin-left: 353px;
}

.promo-right .slogan {
  width: 190px;
  margin-left: 330px;
}
.popular-goods {
  /*Для выделения блоков*/
  /*background-color: blue;*/
  /*outline: 1px solid black;*/
  margin-bottom: 21px;
}

.popular-goods div {
  float: left;
  width: 267px;
  margin-right: 26px;
}

.popular-goods div:last-child {
  margin-right: 0;
}

.popular-goods > div {
  position: relative;
}

.popular-goods > div::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  background: #ffffff url("../img/hit.png") no-repeat;
  border-radius: 50%;
}

.popular-goods p {
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  /*Как задать подчеркивание?*/
  /*text-decoration-line: underline;*/
  /*text-decoration-color: rgba(255, 255, 255, 0.2);*/
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.2)*/
}

.price {
  position: absolute;
  top: 209px;
  font-weight: 700;
  font-size: 0;
  line-height: 45px;
  color: #ffffff;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.price-rub {
  padding-right: 30px;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

.price-rub::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 80px;
  width: 27px;
  height: 32px;
  /*Уже вместе с тенью*/
  background: url("../img/rub.png");
  /*Почему не работает тень?*/
  /*filter: drop-shadow(0 1px 3px rgba(49, 50, 53, 0.5));*/
}

.price-kg {
  padding-left: 6px;
  font-size: 30px;
}

.features {
  /*Для выделения блоков*/
  /*background-color: red;*/
  /*outline: 1px solid black;*/
  padding-bottom: 19px;
  margin-bottom: 40px;
  background: url("../img/wafer-pattern.jpg");
  border-radius: 12px;
}

.features-title {
  padding-top: 24px;
  padding-left: 20px;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
}

.features p {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 560px;
  padding-left: 76px;
  margin-bottom: 6px;
  vertical-align: top;
}

.features p::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 20px;
  width: 48px;
  height: 49px;
  /*background: #ffffff;*/
}

.features p:nth-of-type(1)::before {
  background: url("../img/icon-ice-cream.svg");
}

.features p:nth-of-type(2)::before {
  background: url("../img/icon-cow.png");
}

.features p:nth-of-type(3)::before {
  background: url("../img/icon-leaf.svg");
}

.features p:nth-of-type(4)::before {
  background: url("../img/icon-thermometer.svg");
}


.activities div {
  /*Для выделения блоков*/
  /*background-color: blue;*/
  /*outline: 1px solid black;*/

  width: 560px;
  height: 220px;
  margin-bottom: 39px;
  box-sizing: border-box;
  border-radius: 12px;
}

.activities-blog {
  float: left;
  padding-left: 20px;
  background: url("../img/strawberry-background.jpg") no-repeat;
}

.activities-blog h3 {
  padding-top: 22px;
  padding-bottom: 5px;
  font-size: 16px;
  line-height: 22px;
}

.activities-blog a {
  display: block;
  padding-right: 256px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.activities-subscription {
  float: right;
  padding-left: 26px;
  padding-top: 17px;
  padding-right: 20px;
  background: url("../img/post-border-background.png");
  /*background: #f8f7f4;*/
  /*border-style: solid;*/
  /*border-width: 6px 6px 6px 6px;*/
  /*-moz-border-image: url("../img/post-background.png") 6 6 6 6 repeat;*/
  /*-webkit-border-image: url("../img/post-background.png") 6 6 6 6 repeat;*/
  /*-o-border-image: url("../img/post-background.png") 6 6 6 6 repeat;*/
  /*border-image: url("../img/post-background.png") 6 6 6 6 repeat;*/
}

.activities-subscription p {
  margin-bottom: 36px;
}
.activities-subscription input[type="email"] {
  width: 350px;
  padding: 10px 0;
  padding-left: 13px;
  border-radius: 5px;
  border:1px solid #ccc;
  background:white;
}

.activities-subscription input[type="submit"] {
  width: 127px;
  margin-left: 11px;
  padding: 10px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  background:
          -webkit-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
          -moz-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
          -o-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
          -ms-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
          linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  border-radius: 18px;
  border: none;
}

.map {
  position: relative;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.map img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.main-contacts {
  /*Для выделения блоков*/
  /*background-color: yellow;*/
  /*outline: 1px solid black;*/

  position: absolute;
  top: 63px;
  right: 27px;
  /*bottom: ;*/
  /*left: ;*/
  float: right;
  width: 277px;
  padding-top: 14px;
  padding-left: 25px;
  background-color: #fefefe;
  border-radius: 15px;
}

.main-contacts p {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}

.main-contacts span {
  display: block;
  margin-top: 2px;
  margin-bottom: 17px;
  padding-right: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.main-contacts .tel {
  margin-top: 6px;
  margin-bottom: 2px;
  line-height: 22px;
}

.main-contacts-feedback {
  display: block;
  width:252px;
  margin-top: 24px;
  margin-bottom: 32px;
  padding: 10px 0;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  background:
          -webkit-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
-moz-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
-o-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
-ms-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  border-radius: 20px;
  color: #fefefe;
  text-decoration: none;
}

.main-footer {
  /*Для выделения блоков*/
  /*background-color: red;*/
  /*outline: 1px solid black;*/

  margin-bottom: 0;
  padding-top: 18px;
  padding-bottom: 25px;
}

.footer-social {
  position: relative;
  float: left;
  width: 267px;
  margin-right: 26px;
  padding-top: 17px;
}

.footer-social ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social li {
  display: inline-block;
}

.social-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 7px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background-color:  rgba(255, 255, 255, 0.8);;
  border: 3px solid #c2cec7;
  border-radius: 50%;
}

.social-btn-tw {
  background: url("../img/twitter.svg") no-repeat center;
}

.social-btn-inst {
  background: url("../img/instagram.svg") no-repeat center;

}

.social-btn-fb {
  background: url("../img/facebook.svg") no-repeat center;

}

.social-btn-vk {
  background: url("../img/vkontakte.svg") no-repeat center;

}

.footer-info {
  float: left;
  width: 560px;
  margin-right: 26px;
  padding-top: 15px;
}

.footer-info a {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}

.footer-info-left a:first-of-type {
  position: relative;
  font-weight: 700;
}

.footer-info-left a:first-of-type::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -23px;
  width: 15px;
  height: 13px;
  background: url("../img/heart.svg") no-repeat center;
}

.footer-info-left {
  float: left;
  margin-right: 0;
  padding-left: 129px;
}

.footer-info-right {
  float: right;
  padding-right: 127px;
}

.footer-copyright {
  float: right;
  width: 267px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color:  #fefefe;
}

.footer-copyright-logo {
  display: block;
  width: 108px;
  height: 38px;
  margin-right: auto;
  margin-left: auto;
  font-size: 0;

  background: url("../img/html-academy.svg") no-repeat;
}

.footer-copyright p {
  margin-left: 77px;
  margin-top: 4px;
}

.footer-copyright p a {
  color:  #fefefe;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

/*Страница каталога*/

.catalog-title {
  margin-bottom: 30px;
}

.catalog-filters {
  width: 860px;
}

.catalog-filters fieldset,
.catalog-filters .btn {
  display: inline-block;
  margin-bottom: 12px;
}

.catalog-filters fieldset:last-child,
.catalog-filters .btn {
  margin-bottom: 38px;
}

.catalog-goods {
  font-size: 0;
}

.catalog-goods div {
  display: inline-block;
  width: 267px;
  margin-right: 26px;
  font-size: 16px;
  vertical-align: top;
}

.catalog-goods div:nth-child(4n) {
  margin-right: 0;
  margin-left: 0;
}

.catalog-page-numbers {
  width: 267px;
  float: right;
}

/*Оформление декоративных элементов*/

