@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff') format('woff'),
  url('../fonts/roboto.woff2') format('woff2'),
  url('../fonts/robotomedium.woff') format('woff'),
  url('../fonts/robotomedium.woff2') format('woff2');
}

html,
body {
  min-width: 1200px;
  margin: -10px;
  padding: 0;
  
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;

  color: #323232;
  background: #849d8f;
}
/*Как убрать отступ?*/
body {
  margin: -10px;
}

/*Оформление сетки*/
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.main-header {
  /*Для выделения блоков*/
  /*background-color: red;*/
  /*outline: 1px solid black;*/
  font-weight: 700;
  color: #ffffff;
}

.container {
  /*Для выделения блоков*/
  /*background-color: lightcyan;*/
  /*outline: 1px solid black;*/

  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

/*Почему перестала работать ссылка?*/
.index-logo {
  position: absolute;
  width: 154px;
  height: 64px;
  padding: 0;

  font-size: 0;

  background: url("../img/Logo.svg") no-repeat;
}

.main-navigation {
  /*Для выделения блоков*/
  /*background-color: blueviolet;*/
  /*outline: 1px solid black;*/
  position: relative;

  float: left;
  width: 859px;
}

.main-navigation a {
  display: block;
  padding: 7px 13px;

  color: #ffffff;
  text-decoration: none;
}

.main-navigation span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-navigation a:hover {
  font-weight: 700;

  color: #373737;
  background-color: #f7f6f3;
  border-radius: 15px 15px 15px 15px;
}

.main-navigation a:active {
  font-weight: 700;

  color: #373737;
  background-color: #f7f6f3;
  border-radius: 15px 15px 15px 15px;
  box-shadow: inset 0 1px 2px #696969;
}
.main-navigation-active {
  font-weight: 700;

  background-color: #d07058;
  border-radius: 15px 15px 15px 15px;
}

.main-navigation-active span {
  border: none;
}

.main-navigation ul {
  margin: 0;
  margin-left: 163px;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  padding: 15px 1px;

  font-size: 16px;
  line-height: 18px;
  vertical-align: top;
}

.user-block {
  /*Для выделения блоков*/
  /*background-color: yellow;*/
  /*outline: 1px solid black;*/

  float: right;
  max-width: 267px;
  padding-top: 15px;
}

.user-block a {
  position: relative;
  display: inline-block;
  padding: 7px 13px;
  padding-left: 45px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;

  color: #ffffff;
  background: rgba(161, 180, 169, 0.8);
  border-radius: 15px 15px 15px 15px;
  text-decoration: none;
}

.login:hover {
  color: #373737;
  background: #f8f7f4;
}

.login::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 15px;

  width: 21px;
  height: 19px;

  background: url("../img/login.svg") no-repeat;
}

.login:hover::before {
  background: url("../img/login-hover.svg");
}

.cart::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 15px;

  width: 21px;
  height: 19px;

  background: url("../img/cart.svg") no-repeat;
}

.search {
  display: inline-block;
  width: 33px;
  height: 33px;
  background: rgba(161, 180, 169, 0.8) url("../img/search.svg") no-repeat center;
  border-radius: 50%;
}

.search:hover {
  color: #373737;
  background: #f8f7f4 url("../img/search-hover.svg") no-repeat center;
}

.search input{
  display: none;
}

.header-contacts {
  /*Для выделения блоков*/
  /*background-color: blue;*/
  /*outline: 1px solid black;*/

  float: right;
  width: 267px;
}

.header-contacts span {
  display: block;
  margin-bottom: 5px;
  text-align: right;
}

.header-contacts span:last-child {
  font-weight: 900;
  font-size: 22px;
  line-height: 24px;
}

.main-title {
  /*Для выделения блоков*/
  /*background-color: blue;*/
  /*outline: 1px solid black;*/

  width: 670px;
  margin-top: 270px;
  margin-bottom: 39px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
}

.main-slider {
  /*Для выделения блоков*/
  /*background-color: yellow;*/
  /*outline: 1px solid black;*/

  margin-bottom: 41px;
}

.main-slider ul {
  float: left;
}

.main-slider .slogan {
  display: block;
  width: 280px;
  padding: 10px 0;
  margin-right: auto;
  margin-left: auto;
  font-size: 32px;
  line-height: 44px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background:
          -webkit-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
          -moz-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
          -o-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
          -ms-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
          linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  border-radius: 28px 28px 28px 28px;
  text-decoration: none;
}

/*Как оформить градиент при наведении?*/
.main-slider .slogan:hover {
  background:
          -webkit-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
          -moz-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
          -o-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
          -ms-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
          linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 2px 0 #ac1000;
}

.promo {
  /*Для выделения блоков*/
  /*background-color: red;*/
  /*outline: 1px solid black;*/

  margin-bottom: 41px;
  font-weight: 700;
  color: #ffffff;
}

/*.promo div {*/
  /*width: 560px;*/
  /*height: 229px;*/
  /*padding: 20px;*/
  /*background: #373737 no-repeat;*/
/*}*/

.promo-left {
  /*Для выделения блоков*/
  /*background-color: yellow;*/
  /*outline: 1px solid black;*/

  float: left;
  box-sizing: border-box;
  width: 560px;
  height: 229px;
  padding: 20px;
  background: url("../img/strawberry.png") no-repeat;
}

.promo-right {
  /*Для выделения блоков*/
  /*background-color: yellow;*/
  /*outline: 1px solid black;*/

  float: right;
  box-sizing: border-box;
  width: 560px;
  height: 229px;
  padding: 20px;
  background: url("../img/chocolate.png") no-repeat;
}

.promo-title {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  font-family: "Roboto", "Arial", sans-serif;
}

.promo p {
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

.promo .slogan {
  float: right;
  /*width: 165px;*/
  padding: 13px 23px;
  color: #ffffff;
  background:
          -webkit-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
          -moz-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
          -o-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
          -ms-linear-gradient(90deg, #e74a35 0%, #f26843 100%);
          linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  border-radius: 28px 28px 28px 28px;
  text-decoration: none;
}

.popular-goods {
  /*Для выделения блоков*/
  /*background-color: blue;*/
  /*outline: 1px solid black;*/
}

.popular-goods div {
  float: left;
  width: 267px;
  margin-right: 26px;
}

.popular-goods div:last-child {
  margin-right: 0;
}

.popular-goods > div {
  position: relative;
}

.popular-goods > div::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  background: #ffffff url("../img/hit.png") no-repeat;
  border-radius: 50%;
}

.popular-goods p {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  /*Как задать подчеркивание?*/
  /*text-decoration-line: underline;*/
  /*text-decoration-color: rgba(255, 255, 255, 0.2);*/
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.2)*/
}

.price {
  position: absolute;
  top: 210px;
  font-weight: 700;
  font-size: 0;
  line-height: 45px;
  color: #ffffff;
}

.price-rub {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

.price-kg {
  font-size: 30px;
}

.features {
  /*Для выделения блоков*/
  /*background-color: red;*/
  /*outline: 1px solid black;*/

  margin-bottom: 40px;
}

.features-title {
  margin-bottom: 10px;
  padding-top: 25px;
}

.features p {
  display: inline-block;
  width: 560px;
}

.activities {
  /*Для выделения блоков*/
  /*background-color: blue;*/
  /*outline: 1px solid black;*/

  margin-bottom: 40px;
}

.activities-blog {
  float: left;
  width: 560px;
}

.activities-subscription {
  float: right;
  width: 560px;
}

.map {
  position: relative;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.map img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.main-contacts {
  /*Для выделения блоков*/
  /*background-color: yellow;*/
  /*outline: 1px solid black;*/

  position: absolute;
  top: 63px;
  right: 27px;
  /*bottom: ;*/
  /*left: ;*/
  float: right;
  width: 302px;
}

.main-footer {
  /*Для выделения блоков*/
  /*background-color: red;*/
  /*outline: 1px solid black;*/

  margin-bottom: 0;
}

.footer-social {
  float: left;
  width: 267px;
  margin-right: 26px;
}

.footer-info {
  float: left;
  width: 560px;
}

.footer-info-left {
  float: left;
  width: 247px;
  margin-right: 20px;
}

.footer-info-right {
  width: 293px;
  float: right;
}

.footer-copyright {
  float: right;
  width: 267px;
}

/*Страница каталога*/

.catalog-title {
  margin-bottom: 30px;
}

.catalog-filters {
  width: 860px;
}

.catalog-filters fieldset,
.catalog-filters .btn {
  display: inline-block;
  margin-bottom: 12px;
}

.catalog-filters fieldset:last-child,
.catalog-filters .btn {
  margin-bottom: 38px;
}

.catalog-goods {
  font-size: 0;
}

.catalog-goods div {
  display: inline-block;
  width: 267px;
  margin-right: 26px;
  font-size: 16px;
  vertical-align: top;
}

.catalog-goods div:nth-child(4n) {
  margin-right: 0;
  margin-left: 0;
}

.catalog-page-numbers {
  width: 267px;
  float: right;
}

/*Оформление декоративных элементов*/

